################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NewApp/.vs/NewApp
/Assignment2.1/.vs/Assignment2.1
/code/Assignment start 2.1/Form1.cs
/code/Assignment start 2.1/.vs/Assignment start 2.1
